.appbar {
  background-color: black;
}

.loginButton {
  padding: 300px;
}

@media screen and (max-width: 600px) {
    .heading {
        font-size: 10px !important;
    }
  .starshipsBtn {
    font-size: 8px !important;
  }
  .planetsBtn {
    font-size: 8px !important;
  }
}
